.page {
  width: 100%;
  font-family: Lexend Deca;
  height: max-content;
  margin: 0 auto;
  padding: 80px 60px;
  display: flex;
  justify-items: center;
  justify-content:space-between;
  flex-direction: column;
  gap: 40px;
  @media (max-width: 1024px) {
    padding: 40px 40px;
  }
  @media (max-width: 768px) {
    padding: 40px 20px;
  }
  @media (max-width: 480px) {
    padding: 40px 15px;
  }

}